[Unit]
Description=FUSE mount rclone-remote to ~/mnt/%I
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStartPre=mkdir -p "%h/mnt/%I"
ExecStart=/usr/bin/rclone mount "%I:" "%h/mnt/%I"
ExecStop=/bin/fusermount -u "%h/mnt/%I"

[Installed]
WantedBy=default.target
